body{
    font-family: "Comic Neue", serif;
    background-color: #272B30;
    margin: 0;
}


nav i{
    font-size: 40px;
    
}
nav.custom-nav{
    background-color: #3A497B;
    transform: translate(0%, -50%);
}

nav button{
    border: none;
}

#navbarNav{
    position: absolute;
    left: 5%;
    right: 5%;
    top: -300px;
    border-radius: 5%;
    color: white;
    transition: top 1s ease-in;
}

#navbarNav.show{
    top: 130px;
}

#navbarNav ul li{
    border-bottom: 1px gray solid;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
}

#navbarNav ul li a{
    color: white;
}


#navbarNav ul li a:hover, #navbarNav ul li a.active{
    color: var(--bs-info);
}

#navbarNav ul li.last{
    border-bottom: none
}

header{
    background-image: url('../images/banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;

}

.image-container{
    font-size: 0;
}
section.inner>div {
    padding: 0;
    border: 1px black solid;
    cursor: pointer;
    transition: transform 1s;
}

span.custom-bg{
    background-color: #4A6792;
}
.section-bottom{
    border-top: 1px black solid;
}

.main-game-detail>section{
    width: 100%;
}

.row .inner>div:hover{
    transform: scale(1.1);
}

@media (min-width: 992px) { 
        .w-33{
            width: 33.3333%;
        }

        #navbarNav{
            position: static;
            border: none;
        }

        #navbarNav ul li{
            border-bottom: none;
        }
        .main-game-detail>section{
            width: 50%;
        }
      
        
}